! URxvt

! General settings
URxvt.saveLines: 2000
URxvt.scrollBar: False
URxvt.scrollstyle: rxvt
URxvt.termName: xterm-256color
URxvt.urgentOnBell: True
URxvt.cursorBlink: False

! Extensions
URxvt.perl-ext-common: default,clipboard,keyboard-select,url-select
URxvt.urlLauncher: xdg-open
URxvt.urlButton: 1
URxvt.underlineURLs: True

URxvt.copyCommand:  xclip -i -selection clipboard
URxvt.pasteCommand: xclip -o -selection clipboard

! Keybindings
URxvt.keysym.Mod4-c: perl:clipboard:copy
URxvt.keysym.Mod4-v: perl:clipboard:paste
URxvt.keysym.Mod4-C-v: perl:clipboard:paste_escaped
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste
URxvt.keysym.M-C-v: perl:clipboard:paste_escaped
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.C-Escape: perl:keyboard-select:activate
URxvt.keysym.M-u: perl:url-select:select_next

! Fonts

!Courier
!URxvt.font: xft:Courier-10

!Inconsolata
URxvt.font: xft:Inconsolata-12
URxvt.boldFont: xft:Inconsolata-12
URxvt.letterSpace: -1

!Inconsolata-g
!URxvt.font: xft:InconsolataG-10
!URxvt.letterSpace: -1

!Anonymous Pro
!URxvt.font: xft:Anonymous\ Pro-12
!URxvt.letterSpace: -1

!Monaco
!URxvt.font: xft:Monaco-10
!URxvt.letterSpace: -1

!Droid Sans Mono
!URxvt.font: xft:Droid Sans Mono-10
!URxvt.letterSpace: -1

!DejaVu Sans
!URxvt.font: xft:DejaVu Sans Mono-10
!URxvt.letterSpace: -1

!Manospace
!URxvt.font: xft:Monospace-10
!URxvt.letterSpace: -1

!Terminus
!URxvt.font: xft:Terminus-10

! Tango theme

URxvt.background: #1C1C1C
URxvt.foreground: #DEDEDE

! black
URxvt.color0  : #2E3436
URxvt.color8  : #555753
! red
URxvt.color1  : #CC0000
URxvt.color9  : #EF2929
! green
URxvt.color2  : #4E9A06
URxvt.color10 : #8AE234
! yellow
URxvt.color3  : #C4A000
URxvt.color11 : #FCE94F
! blue
URxvt.color4  : #3465A4
URxvt.color12 : #729FCF
! magenta
URxvt.color5  : #75507B
URxvt.color13 : #AD7FA8
! cyan
URxvt.color6  : #06989A
URxvt.color14 : #34E2E2
! white
URxvt.color7  : #D3D7CF
URxvt.color15 : #EEEEEC

! XTerm

! General settings
XTerm*termName: xterm-256color
XTerm*geometry: 80x24
XTerm*saveLines: 1024
XTerm*scrollBar: False
XTerm*loginshell: False
XTerm*cursorBlink: False

! Fonts and Encoding
XTerm*utf8: True
XTerm*locale: True
XTerm*utf8Title: True
XTerm*renderFont: True
XTerm*preeditType: Root
XTerm*xftAntialias: true
XTerm*faceName: xft:Inconsolata-12

! Trim trailing spaces
XTerm*trimSelection: true

! Fix alt-key inputting
XTerm*eightBitInput: false
XTerm*metaSendsEscape: true

! Copy and paste with clipboard
XTerm*translations: #override \
	Ctrl Shift <KeyPress> C: copy-selection(CLIPBOARD) \n\
	Ctrl Shift <KeyPress> V: insert-selection(CLIPBOARD)

! Allow selecting email/url by double-click
XTerm*charClass: 33:48,37-38:48,45-47:48,64:48,58:48,126:48,61:48,63:48,43:48,35:48

! Tango Theme

XTerm*background: #1C1C1C
XTerm*foreground: #DEDEDE

! black
XTerm*color0  : #2E3436
XTerm*color8  : #555753
! red
XTerm*color1  : #CC0000
XTerm*color9  : #EF2929
! green
XTerm*color2  : #4E9A06
XTerm*color10 : #8AE234
! yellow
XTerm*color3  : #C4A000
XTerm*color11 : #FCE94F
! blue
XTerm*color4  : #3465A4
XTerm*color12 : #729FCF
! magenta
XTerm*color5  : #75507B
XTerm*color13 : #AD7FA8
! cyan
XTerm*color6  : #06989A
XTerm*color14 : #34E2E2
! white
XTerm*color7  : #D3D7CF
XTerm*color15 : #EEEEEC
