snippet jl
org.gradle.java.home=/usr/lib/jvm/liberica-jdk-full/
endsnippet
snippet j11
org.gradle.java.home=/usr/lib/jvm/java-11-openjdk/
endsnippet
snippet j16
org.gradle.java.home=/usr/lib/jvm/java-16-openjdk/
endsnippet
