snippet nc
const $1: NextPage = () => {
  return (
    <div>
    </div>
  );
}

export default $1;
endsnippet

snippet rcp
interface $1Props {
  $0
}

const $1: React.FC<$1Props> = ({}) => (
  <div>
  </div>
);
endsnippet

snippet rc
const $1: React.FC = () => (
  <div>
  </div>
);
endsnippet


